// Colors
$text-color: #263238;
$faded-color: #aaaaaa;
$primary-color: #5bb7db;
$danger-color: #eb5757;
$warning-color: #f4c20d;
$success-color: #18cc55;
$contentBackground-color: #f8f8f8;
$border-color: #aaaaaa;
$white-color: #ffffff;
